* {
  margin: 0;
  padding: 0;
  color: white;
}

header {
  display: grid;
  grid-template-columns: auto;
  place-items: center center;

  padding: 10px;

  background-color: #0078f0;
}
  header .main {
      z-index: 9999;
      display: grid;
      grid-template-areas: 
      "name"
      "menu";
      grid-template-rows: 40px 90px;
      grid-template-columns: 1fr;

      width: 100%;
  }
    header .main .logo-png {  
      position: absolute;
      top: 25px;
      z-index: 9998;

      width: 100px;
      height: 100px;

      background-color: black;
    }
    header .main h1 {
      grid-area: name;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    header .main nav {
      grid-area: menu;
      
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 0 10px;
    }
      header .main nav button {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px;
        width: 150px;
        height: 50px;

        color: white;
        background-color: transparent;
        border: 1.5px solid white;

        font-size: 14px;
        user-select: none;

        overflow: hidden;
      }
        header .main nav button::after {  

        }
        header .main nav button::before {

        }

