.show-all-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
}
    .show-all-container .buttons-container {
        grid-area: 1 / 1 / 2 / 2;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 75px);

        gap: 20px;
    }
        .show-all-container .buttons-container .show-engines-button,
        .show-all-container .buttons-container .show-cars-button,
        .show-all-container .buttons-container .show-problems-button,
        .show-all-container .buttons-container .show-car-problems-button {
            display: flex;
            align-items: center;
            justify-content: center;

            letter-spacing: 0.5px;

            color: black;
            background-color: lightgray;
        }
        .show-all-container .buttons-container .show-engines-button:hover {
            background-color: lightgray;
        }
        .show-all-container .show-all-windows-container {
            grid-area: 1 / 2 / 2 / 3;

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 50px;

            padding: 20px 5px 10px 20px;

            overflow-y: scroll;
        }
        .show-all-container .show-all-windows-container::-webkit-scrollbar {
            width: 10px;
            height: auto;
        }
        .show-all-container .show-all-windows-container::-webkit-scrollbar-track {
            background-color: white;
        }
        .show-all-container .show-all-windows-container::-webkit-scrollbar-thumb {
            height: 75px;

            background-color: #0078f0;
            border-radius: 20px;
        }
            .show-all-container .show-all-windows-container .engines-window-container {
                display: flex;
                flex-direction: column;

                width: 100%;
                height: auto;

                gap: 10px;
            }
                .show-all-container .show-all-windows-container .engines-window-container h1,
                .show-all-container .show-all-windows-container .cars-window-container h1,
                .show-all-container .show-all-windows-container .problems-window-container h1,
                .show-all-container .show-all-windows-container .cars-problems-window-container h1 {
                    font-size: 26px;
                    letter-spacing: 0.5px;

                    text-align: center;
                }
                .show-all-container .show-all-windows-container .engines-window-container .engine-info {
                    display: flex;
                    flex-direction: row;
                    /* justify-content: space-between; */

                    gap: 10px;

                    border-bottom: 1px solid black;
                }
                    .show-all-container .show-all-windows-container .engines-window-container .engine-info div {
                        text-align: center;
                    }
            .show-all-container .show-all-windows-container .cars-window-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: start;

                width: 100%;
                height: auto;

                gap: 10px;
            }
                .show-all-container .show-all-windows-container .cars-window-container .car-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;

                    gap: 10px;

                    border-bottom: 1px solid black;
                }
                    .show-all-container .show-all-windows-container .cars-window-container .car-info img {
                        width: 100px;
                        height: 85px;
                    }
                    .show-all-container .show-all-windows-container .cars-window-container .car-info div {
                        text-align: center;
                    }
            .show-all-container .show-all-windows-container .problems-window-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: start;

                width: 100%;
                height: auto;

                gap: 10px;
            }
                .show-all-container .show-all-windows-container .problems-window-container .problem-info {
                    display: flex;
                    flex-direction: row;
                    
                    align-items: center;

                    width: 100%;
                    gap: 20px;

                    border-bottom: 1px solid black;
                }
                .show-all-container .show-all-windows-container .problems-window-container .problem-info .problem_id {
                    width: 100px;

                    text-align: center;
                }
                .show-all-container .show-all-windows-container .problems-window-container .problem-info .problem_name {
                    min-width: 250px;

                    text-align: left;
                    overflow-wrap: break-word;
                }
                .show-all-container .show-all-windows-container .problems-window-container .problem-info .problem_short_description {
                    max-width: 300px;

                    text-align: left;
                    overflow-wrap: break-word;
                }
                .show-all-container .show-all-windows-container .problems-window-container .problem-info .difficult {
                    width: 100px;

                    text-align: center;
                }
                .show-all-container .show-all-windows-container .problems-window-container .problem-info .how_to_fixed {
                    max-width: 300px;

                    text-align: left;
                    overflow-wrap: break-word;
                }
                .show-all-container .show-all-windows-container .problems-window-container .problem-info .problem_price {
                    min-width: 100px;

                    text-align: center;
                    overflow-wrap: break-word;
                }
            .show-all-container .show-all-windows-container .cars-problems-window-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: start;

                width: 100%;
                height: auto;

                gap: 10px;
            }
                .show-all-container .show-all-windows-container .cars-problems-window-container .car-problems-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    width: 100%;
                    gap: 10px;

                    border-bottom: 1px solid black;
                }
