.main-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;
    width: 100%;
}
    .main-page .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        gap: 10px;
    }
        .main-page .main-container section.hello-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 200px;

            gap: 20px 0px;

            margin-top: 100px;
        }
        .main-page .main-container div.space {
            display: flex;

            width: 100%;
            height: 40px;
        }
            .main-page section.hello-card p.hello-message {
                font-size: 30px;
            }
            .main-page section.hello-card p.information-message {
                font-size: 20px;
            }
                .main-page section.hello-card p.information-message span {
                    color: #0078f0;

                    font-size: 20px;

                    cursor: pointer;
                }
        .main-page .main-container section.filters-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: start;

            width: 100%;
            height: 100%;

            gap: 30px 0px;
        }
            .main-page .main-container section.filters-container .filter {
                display: grid;
                grid-template-areas: 
                "filter-image filter-name filter-addition"
                "filter-image filter-items filter-addition";
                grid-template-rows: repeat(2, 150px);
                grid-template-columns: repeat(3, 350px);

                padding: 5px 20px 5px 20px;
            }
                .main-page .main-container section.filters-container .filter img {
                    grid-area: filter-image;    

                    width: 350px;
                    height: 300px;

                    cursor: pointer;
                }
                .main-page .main-container section.filters-container .filter .description {
                    grid-area: filter-name;

                    display: flex;
                    justify-content: start;
                    align-items: center;

                    padding: 10px 0px 0px 20px;

                    font-size: 22px;

                    color: #0078f0;
                }
                .main-page .main-container section.filters-container .filter .items {
                    grid-area: filter-items;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 5px 0px;

                    padding: 10px 0px 0px 20px;

                    font-size: 18px;
                }
                .main-page .main-container section.filters-container .filter .text-addition {
                    grid-area: filter-addition;

                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    gap: 10px 0px;

                    padding: 10px 0px 0px 20px;
                }
                    .main-page .main-container section.filters-container .filter .items input {
                        min-width: 100px;
                        min-height: 30px;

                        padding: 0px 5px 0px 5px;   

                        color: black;

                        font-size: 18px;

                        outline: none;
                        text-decoration: none;
                    }
                        .main-page .main-container section.filters-container .filter .items input::placeholder {
                            color: hsl(210, 100%, 70%);
                            /* позднее определюсь что лучше */
                            color: grey;
                        }
                    .main-page .main-container section.filters-container .filter .text-addition button {
                        position: relative;
                
                        display: flex;
                        justify-content: center;
                        align-items: center;
                
                        padding: 10px;
                        min-width: 150px;
                        min-height: 50px;
                
                        color: #0078f0;
                        background-color: transparent;
                        border: 1.5px solid #0078f0;
                
                        font-size: 14px;
                        user-select: none;
                
                        overflow: hidden;
                        cursor: pointer;
                    }
                    .main-page .main-container section.filters-container .filter .text-addition button::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #0078f0;
                        z-index: -1;
                        transition: transform 0.3s ease;
                    }
                    .main-page .main-container section.filters-container .filter .text-addition button::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        background-color: lightgrey;
                        z-index: -1;
                        transition: left 0.3s ease;
                    }
                    .main-page .main-container section.filters-container .filter .text-addition button::after {
                        transform: translateX(100%);
                    }
                    .main-page .main-container section.filters-container .filter .text-addition button:hover::before {
                        left: 0;
                    }
                        .main-page .main-container section.filters-container .filter .text-addition .big-addition {
                            text-align: justify;

                            font-size: 18px;
                        }
                        .main-page .main-container section.filters-container .filter .text-addition .small-addition {
                            padding-right: 15px;

                            text-align: justify;

                            font-size: 16px;

                            overflow-y: scroll;
                        }
                        .main-page .main-container section.filters-container .filter .text-addition .small-addition::-webkit-scrollbar {
                            width: 4px;
                            height: auto;
                        }
                        .main-page .main-container section.filters-container .filter .text-addition .small-addition::-webkit-scrollbar-track {
                            background-color: white;
                        }
                        .main-page .main-container section.filters-container .filter .text-addition .small-addition::-webkit-scrollbar-thumb {
                            background-color: #0078f0;
                            border-radius: 20px;
                        }
        .main-page .main-container .output-result-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            gap: 40px;

            padding-bottom: 10px;
        }
            .main-page .main-container .output-result-container .results-cars {
                width: 100%;    

                display: flex;
                flex-direction: column;
            }
            .main-page .main-container .output-result-container .buttons-container {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                width: 100%;
            }
                .main-page .main-container .output-result-container .buttons-container button.get-results-button {     
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    padding: 10px;
                    min-width: 150px;
                    min-height: 50px;
            
                    color: #0078f0;
                    background-color: transparent;
                    border: 1.5px solid #0078f0;
                    border-radius: 0;
            
                    font-size: 14px;
                    user-select: none;
            
                    overflow: hidden;
                    cursor: pointer;

                    transform: none;
                    }
                    .main-page .main-container .output-result-container .buttons-container button.get-results-button::after {
                        transform: translateX(100%);
                    }
                    .main-page .main-container .output-result-container .buttons-container button.get-results-button:hover::before {
                        left: 0;
                    }
                    .main-page .main-container .output-result-container .buttons-container button.get-results-button:active {
                        transform: none;
                    }
                .main-page .main-container .output-result-container .results-cars .filtered-cars {
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    flex-wrap: wrap;
                    
                    gap: 20px;
                }