
* {
    margin: 0;
    padding: 0;
    color: white;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;
}
  

main.singin {
    display: grid;
    place-items: start center;
}
main.singin .main-container-singin {
    display: grid;
    place-items: start center;
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, 200px);
    margin-top: 20px;
    }
main.singin .main-container-singin .sing-in-window-container {
    background-color: #0078f0;
    box-shadow: 0px 4px 5px 5px black;
}
main.singin .main-container-singin .sing-in-window-container .sing-in-window {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 50px);
    gap: 10px 0px;
    padding: 10px;
}


