@font-face {
    font-family: UbuntuReg;
    src: url(../fonts/ubuntu/Ubuntu-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: UbuntuReg;
    color: white;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    padding: 10px 0px;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    user-select: none;
    cursor: pointer;
    border: 0;
}
button:hover {
    transition: 0.5s ease-out;
}
button:focus {
    transition: 0.5s ease-in;
    box-shadow: 0px 0px 5px 3px black;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: start;
    min-width: 250px;
    font-size: 18px;
    color: black;
    outline: none;
    min-width: 260px;
    padding-left: 10px;
}
input::placeholder {
    font-size: 16px;
    color: black;
}
  

main.singin {
    display: grid;
    place-items: start center;
}
main.singin .main-container-singin {
    display: grid;
    place-items: start center;
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, 200px);
    margin-top: 20px;
    }
main.singin .main-container-singin .sing-in-window-container {
    background-color: #0078f0;
    box-shadow: 0px 4px 5px 5px black;
}
main.singin .main-container-singin .sing-in-window-container .sing-in-window {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 50px);
    gap: 10px 0px;
    padding: 10px;
}


