* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100dvh;
  width: 100%;
  background-color: #f0f4f8;
}

.about-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  height: 100%;
}

.about-app-card, .steps-card, .admin-card {
  min-width: 250px;
  max-width: 800px;
  width: 90%;
  padding: 35px;
  margin: 10px;
    
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 1.6;
  transition: transform 0.3s, box-shadow 0.3s;

  box-sizing: border-box;
}

.about-app-card:hover, .steps-card:hover, .admin-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  transition: color 0.3s;
}

h1.short-us, .steps-title, .admin-title {
  font-size: 28px;
  color: #0078f0;
}

h2.short-text, .steps-list h2, .admin-list h2 {
  font-size: 24px;
  color: #333;
  text-align: justify;
  text-indent: 0;
}

.steps-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.steps-list img.next-arrow {
  width: 30px;
  height: auto;
}

.steps-list .registration-description,
.steps-list .auth-description,
.steps-list .use-description,
.admin-card .for-admin-description {
  padding-left: 15px;
  border-left: 3px solid #0078f0;
  font-size: 18px;
  text-align: justify;
  transition: background-color 0.3s;
}

.steps-list .registration-description span,
.steps-list .auth-description span,
.steps-list .use-description span {
  color: #0078f0;
  font-weight: bold;
  cursor: default;
}

.steps-list .registration-description:hover,
.steps-list .auth-description:hover,
.steps-list .use-description:hover {
  background-color: rgba(230, 230, 230, 0.5);
}