* {
  margin: 0;
  padding: 0;
}

footer {
    display: grid;
    place-items: start center;
    padding: 10px;
    background-color: #0078f0;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 75px);
    justify-items: center;
  }
    footer .footer-container p {
      align-self: center;
      font-size: 22px;

      color: white;
    }
    footer .footer-container .contacts-container {
      display: grid;
      grid-column: auto;
      grid-template-rows: repeat(2, 35px);
      justify-items: center;
      gap: 5px 0px;
    }
      footer .footer-container .contacts-container .email {
        font-size: 18px;

        color: white;
      }
      footer .footer-container .contacts-container .github {
        width: 35px;
        height: 35px;

        border-radius: 100%;

        user-select: none;
      }
      footer .footer-container .contacts-container .github:hover {
        box-shadow: 0px 0px 40px white;
        
        cursor: pointer;

        transform: scale(1.02);
        transition: 0.8s;
      }
      footer .footer-container .contacts-container .github:focus {
        box-shadow: 0px 0px 40px white;
        
        cursor: pointer;

        transform: scale(1.02);
        transition: 0.8s;
      }