* {
  margin: 0;
  padding: 0;
  color: white;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100dvh;
}

footer {
    display: grid;
    place-items: start center;
    padding: 10px;
    background-color: #0078f0;
  }
  footer .footer-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 50px);
    justify-items: center;
  }
  footer .footer-container p {
    align-self: center;
    font-size: 22px;
  }
  footer .footer-container .contacts-container {
    display: grid;
    grid-column: auto;
    grid-template-rows: repeat(2, 25px);
    justify-items: center;
    gap: 5px 0px;
  }
  footer .footer-container .contacts-container .contact {
    font-size: 18px;
  }