* {
    margin: 0;
    padding: 0;
    color: white;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;
}

main.singup {
  display: grid;
  place-items: start center;
}
main.singup .main-container-singup {
  display: grid;
  place-items: start center;
  grid-template-columns: 300px;
  grid-template-rows: 300px;
  margin-top: 20px;
}
main.singup .main-container-singup .sing-up-window-container {
  background-color: #0078f0;
  box-shadow: 0px 4px 5px 5px black;
}
main.singup .main-container-singup .sing-up-window-container .sing-up-window {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(5, 50px);
  gap: 10px 0px;
  padding: 10px;
}
  