* {
    margin: 0;
    padding: 0;
}

$mainColor: #ccccff;
$afterColor: #c0d6e4;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin baseBody {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;
}

@mixin baseButton {
    @include flexCenter;
    min-width: 200px;
    padding: 10px 0px;

    outline: none;
    user-select: none;
    cursor: pointer;
}

body {
    @include baseBody;
}

button {
    @include baseButton;
}

header {
    position: sticky;

    @include flexCenter;
    height: 100px;
    width: 100%;

    background-color: $mainColor;
}

main {
    width: 100%;

    background-color: $afterColor;


    .add-car-container {


        .add-photo-container {
            @include flexCenter;
            height: 100px;

            background-color: $mainColor;

            outline: 2px dashed #5d5d5d;
            // outline-offset: -12px;
        }
    }
}

footer {
    @include flexCenter;
    height: 100px;
    width: 100%;

    background-color: $mainColor;
}