$mainFont: UbuntuReg;

$mainColor: #272727;
$afterColor: #747474;
$buttonDefColor: #ff652f;
$inputFontColor: black;
$containerColor: #14a76c;

@font-face {
    font-family: UbuntuReg;
    src: url(../../fonts/ubuntu/Ubuntu-Regular.ttf);
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin baseBody {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvh;
}

@mixin baseButton {
    @include flexCenter;
    min-width: 200px;
    padding: 10px 0px;

    font-size: 18px;

    background-color: transparent;

    outline: none;
    user-select: none;
    cursor: pointer;
}

@mixin baseInput {
    @include flexCenter;
    justify-content: start;
    min-width: 250px;

    font-size: 18px;

    color: black;

    outline: none;
}

* {
    margin: 0;
    padding: 0;

    font-family: $mainFont;

    color: white;
}

body {
    @include baseBody;
}

button {
    @include baseButton;
    
    border: 0;

    &:hover {
        transition: 0.5s ease-out;

        background-color: $buttonDefColor;
    }
    &:focus {
        transition: 0.5s ease-in;

        background-color: $buttonDefColor;
        box-shadow: 0px 0px 5px 3px black;
    }
}

input {
    @include baseInput;
    min-width: 260px;
    padding-left: 10px;

    &::placeholder {
        font-size: 16px;

        color: $inputFontColor;
    }
}

header {
    position: sticky;

    display: grid;
    place-items: center center;

    padding: 10px;

    background-color: $afterColor;

    .header-container {
        &.singin {
            display: grid;
            align-items: stretch;

            grid-template-rows: 100px;
        }
        &.singup {
            display: grid;
            align-items: stretch;

            grid-template-rows: 100px;
        }   
        &.adminpage {
            display: grid;
            align-items: stretch;

            grid-template-rows: 100px;
        }
        &.usercars {
            display: grid;
            align-items: stretch;

            grid-template-rows: 100px;
        }
        &.main {
            display: grid;
            grid-template-columns: 350px 600px;

            align-items: center;

            @media screen and (min-width: 320px){
                display: grid;
                align-items: center;

                grid-template-columns: 300px;    
                grid-template-rows: 50px 150px;            
            }
            @media screen and (min-width: 1150px){
                display: grid;
                align-items: center;

                grid-template-columns: 350px 600px;
                grid-template-rows: 100px;
            }
            h1 {
                font-size: 30px;
                font-weight: 500;

                @media screen and (min-width: 320px){
                    grid-area: 1/1/2/2;
                }
                @media screen and (min-width: 1150px){
                    font-size: 30px;
                    font-weight: 500;
                }
            }
            .navigation-container {
                display: grid;
                grid-template-rows: 100px;
                grid-template-columns: repeat(3, 200px);
                button {
                    .to-sing-in-page {
                        grid-area: 1/1/2/2;
                    }
                    .to-sing-up-page {
                        grid-area: 1/2/2/3;
                    }
                    .to-user-cars-page {
                        grid-area: 1/3/2/4;
                    }
                }
                @media screen and (min-width: 320px) {
                    grid-template-columns: 300px;
                    grid-template-rows: repeat(3, 50px);
                    button {
                        .to-sing-in-page {
                            grid-area: 1/1/2/2;
                        }
                        .to-sing-up-page {
                            grid-area: 2/1/3/2;
                        }
                        .to-user-cars-page {
                            grid-area: 3/1/4/2;
                        }
                    }
                }
                @media screen and (min-width: 1150px) {
                    display: grid;
                    grid-template-rows: 100px;
                    grid-template-columns: repeat(3, 200px);
                    button {
                        .to-sing-in-page {
                            grid-area: 1/1/2/2;
                        }
                        .to-sing-up-page {
                            grid-area: 1/2/2/3;
                        }
                        .to-user-cars-page {
                            grid-area: 1/3/2/4;
                        }
                    }
                }
            }
        }
    }
}



main {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 100%;
    display: grid;
    place-items: start center;

    background-color: $mainColor;
    // sing-up.html
    .main-container-singup {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 300px;
        place-items: start center;

        margin-top: 10px;
        .sing-up-window-container {
            width: auto;

            background-color: $afterColor;
            box-shadow: 0px 4px 5px 5px black;
            .sing-up-window {
                display: grid;

                grid-template-columns: auto;
                grid-template-rows: repeat(5, 50px);
                gap: 10px 0px;

                padding: 10px;
            }
        }
    }
    // sing-in.html
    .main-container-singin {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: repeat(2, 200px);
        place-items: end center;
        .sing-in-window-container {
            width: auto;

            background-color: $afterColor;
            box-shadow: 0px 4px 5px 5px black;

            border-radius: 20px;
            .sing-in-window {
                display: grid;

                grid-template-columns: auto;
                grid-template-rows: repeat(3, 50px);
                gap: 5px 0px;

                padding: 15px;
            }
        }
    }
    // admin-page.html
    .overlay {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;

        display: none;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.5);
        &.show {
            display: block;
        }
    }
    // admin-page.html
    .main-container {
        padding: 10px 20px;
        height: 100%;

        .all-engines-cars-container {
            height: 100px;

            .all-engines-container {
                height: 100%;

                .all-engines-window {
                    height: 100%;
                }
            }
        }

        .engine-modal-window,
        .car-modal-window,
        .problem-modal-window,
        .car-problem-modal-window {
            position: fixed;
            z-index: 9999;
            left: 50%;
            top: 50%;

            display: none;
            height: 90dvh;
            min-width: 350px;

            border: 0;
            border-radius: 10px;
            
            background-color: $mainColor;
            box-shadow: 0px 2px 5px 5px black;

            transform: translate(-50%, -50%);

            overflow-x: hidden;
            overflow-y: scroll;

            .window-content {
                @include flexColumn;
                gap: 10px 0px;
                padding: 25px;
            }
        }

        .add-car-container {

            .add-photo-container {
                @include flexCenter;
                height: 100px;
    
                background-color: $mainColor;
    
                outline: 2px dashed #5d5d5d;
                // outline-offset: -12px;
            }
        }
    }
}

footer {
    display: grid;
    place-items: start center;

    padding: 10px;

    background-color: $afterColor;

    .footer-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 50px);

        justify-items: center;

        p {
            align-self: center;
            font-size: 22px;
        }
        .contacts-container {
            display: grid;
            grid-column: auto;
            grid-template-rows: repeat(2, 25px);

            justify-items: center;
            gap: 5px 0px;

            .contact {
                font-size: 18px;
            }
        }
    }
}