@font-face {
  font-family: UbuntuReg;
  src: url(../../fonts/ubuntu/Ubuntu-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: UbuntuReg;
  color: white;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100dvh;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding: 10px 0px;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  user-select: none;
  cursor: pointer;
  border: 0;
}
button:hover {
  transition: 0.5s ease-out;
  background-color: #ff652f;
}
button:focus {
  transition: 0.5s ease-in;
  background-color: #ff652f;
  box-shadow: 0px 0px 5px 3px black;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  min-width: 250px;
  font-size: 18px;
  color: black;
  outline: none;
  min-width: 260px;
  padding-left: 10px;
}
input::placeholder {
  font-size: 16px;
  color: black;
}

header {
  position: sticky;
  display: grid;
  place-items: center center;
  padding: 10px;
  background-color: #747474;
}
header .header-container.singin {
  display: grid;
  align-items: stretch;
  grid-template-rows: 100px;
  grid-template-columns: 300px;
}
header .header-container.singup {
  display: grid;
  align-items: stretch;
  grid-template-rows: 100px;
  grid-template-columns: 300px;
}
header .header-container.adminpage {
  display: grid;
  align-items: stretch;
  grid-template-rows: 100px;
  grid-template-columns: repeat(2, 150px);
}
header .header-container.adminpage button {
  min-width: 100px;
}
header .header-container.adminpage button .main-page-button {
  grid-area: 1/1/2/2;
}
header .header-container.adminpage button .previous-page-button {
  grid-area: 1/2/2/3;
}
header .header-container.usercars {
  display: grid;
  align-items: stretch;
  grid-template-rows: 100px;
  grid-template-columns: 300px;
}
header .header-container.main {
  display: grid;
  align-items: center;
  grid-template-columns: 350px 600px;
}
@media screen and (min-width: 320px) {
  header .header-container.main {
    display: grid;
    align-items: center;
    grid-template-columns: 300px;
    grid-template-rows: 50px 150px;
  }
}
@media screen and (min-width: 1150px) {
  header .header-container.main {
    display: grid;
    align-items: center;
    grid-template-columns: 350px 600px;
    grid-template-rows: 100px;
  }
}
header .header-container.main h1 {
  font-size: 30px;
  font-weight: 500;
}
@media screen and (min-width: 320px) {
  header .header-container.main h1 {
    grid-area: 1/1/2/2;
  }
}
@media screen and (min-width: 1150px) {
  header .header-container.main h1 {
    font-size: 30px;
    font-weight: 500;
  }
}
header .header-container.main .navigation-container {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: repeat(3, 200px);
}
header .header-container.main .navigation-container button .to-sing-in-page {
  grid-area: 1/1/2/2;
}
header .header-container.main .navigation-container button .to-sing-up-page {
  grid-area: 1/2/2/3;
}
header .header-container.main .navigation-container button .to-user-cars-page {
  grid-area: 1/3/2/4;
}
@media screen and (min-width: 320px) {
  header .header-container.main .navigation-container {
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 50px);
  }
  header .header-container.main .navigation-container button .to-sing-in-page {
    grid-area: 1/1/2/2;
  }
  header .header-container.main .navigation-container button .to-sing-up-page {
    grid-area: 2/1/3/2;
  }
  header .header-container.main .navigation-container button .to-user-cars-page {
    grid-area: 3/1/4/2;
  }
}
@media screen and (min-width: 1150px) {
  header .header-container.main .navigation-container {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(3, 200px);
  }
  header .header-container.main .navigation-container button .to-sing-in-page {
    grid-area: 1/1/2/2;
  }
  header .header-container.main .navigation-container button .to-sing-up-page {
    grid-area: 1/2/2/3;
  }
  header .header-container.main .navigation-container button .to-user-cars-page {
    grid-area: 1/3/2/4;
  }
}

main {
  display: grid;
  place-items: start center;
  background-color: #272727;
}
main.singup {
  display: grid;
  place-items: start center;
}
main.singup .main-container-singup {
  display: grid;
  place-items: start center;
  grid-template-columns: 300px;
  grid-template-rows: 300px;
  margin-top: 20px;
}
main.singup .main-container-singup .sing-up-window-container {
  background-color: #747474;
  box-shadow: 0px 4px 5px 5px black;
}
main.singup .main-container-singup .sing-up-window-container .sing-up-window {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(5, 50px);
  gap: 10px 0px;
  padding: 10px;
}
main.singin {
  display: grid;
  place-items: start center;
}
main.singin .main-container-singin {
  display: grid;
  place-items: start center;
  grid-template-columns: 300px;
  grid-template-rows: repeat(2, 200px);
  margin-top: 20px;
}
main.singin .main-container-singin .sing-in-window-container {
  background-color: #747474;
  box-shadow: 0px 4px 5px 5px black;
}
main.singin .main-container-singin .sing-in-window-container .sing-in-window {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(3, 50px);
  gap: 10px 0px;
  padding: 10px;
}
main.adminpage {
  display: grid;
  place-items: start center;
}
main.adminpage .overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
main.adminpage .overlay.show {
  display: block;
}
main.adminpage .main-container {
  display: grid;
  padding: 0px 10px;
  margin-top: 20px;
  grid-template-columns: 500px;
  grid-template-rows: 350px 200px 500px 830px 350px 200px 200px 300px;
}
@media screen and (min-width: 300px) {
  main.adminpage .main-container {
    grid-template-columns: 300px;
    grid-template-rows: 350px 200px 500px 830px 350px 200px 200px 300px;
  }
}
@media screen and (min-width: 1150px) {
  main.adminpage .main-container {
    grid-template-columns: 500px;
    grid-template-rows: 350px 200px 500px 830px 350px 200px 200px 300px;
  }
}
main.adminpage .main-container .warning-messages-container {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}
main.adminpage .main-container .warning-messages-container p {
  font-size: 16px;
}
main.adminpage .main-container .warning-messages-container p span {
  color: #ff652f;
}
main.adminpage .main-container .warning-messages-container p span.alter {
  color: #14a76c;
}
main.adminpage .main-container .modal-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}
main.adminpage .main-container .engine-modal-window,
main.adminpage .main-container .car-modal-window,
main.adminpage .main-container .problem-modal-window,
main.adminpage .main-container .car-problem-modal-window {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  display: none;
  height: 90dvh;
  min-width: 350px;
  border: 0;
  border-radius: 10px;
  background-color: #272727;
  box-shadow: 0px 2px 5px 5px black;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: scroll;
}
main.adminpage .main-container .engine-modal-window .window-content,
main.adminpage .main-container .car-modal-window .window-content,
main.adminpage .main-container .problem-modal-window .window-content,
main.adminpage .main-container .car-problem-modal-window .window-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px 0px;
  padding: 25px;
}
main.adminpage .main-container .engine-add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.adminpage .main-container .engine-add-container .engine-parameters-container {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}
main.adminpage .main-container .engine-add-container .engine-parameters-container .engine-parameter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.adminpage .main-container .engine-add-container .engine-parameters-container .engine-parameter p {
  color: #ffe400;
}
main.adminpage .main-container .add-car-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.adminpage .main-container .add-car-container .car-parameters-container {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}
main.adminpage .main-container .add-car-container .car-parameters-container .car-parameter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.adminpage .main-container .add-car-container .car-parameters-container .car-parameter p {
  color: #ffe400;
}
main.adminpage .main-container .add-car-container .car-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
  text-align: center;
}
main.adminpage .main-container .add-problem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.adminpage .main-container .add-problem-container .add-problem-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0px;
}
main.adminpage .main-container .add-problem-container .add-problem-window p {
  color: #ffe400;
}
main.adminpage .main-container .car-promlems-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.adminpage .main-container .car-promlems-container .car-problems-window {
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}
main.adminpage .main-container .add-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.adminpage .main-container .add-photo-container .add-photo-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0px;
}
main.adminpage .main-container .delete-update-cars-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0px;
  text-align: center;
}
main.adminpage .main-container .delete-update-cars-container .update-cars {
  display: flex;
  flex-direction: column;
}
main.adminpage .main-container .delete-update-cars-container .update-cars p {
  color: #ffe400;
}
main.adminpage .main-container .delete-update-cars-container .update-cars button {
  margin-top: 5px;
}
main.adminpage .main-container .delete-update-cars-container .delete-cars {
  display: flex;
  flex-direction: column;
}
main.adminpage .main-container .delete-update-cars-container .delete-cars button {
  margin-top: 5px;
}

footer {
  display: grid;
  place-items: start center;
  padding: 10px;
  background-color: #747474;
}
footer .footer-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 50px);
  justify-items: center;
}
footer .footer-container p {
  align-self: center;
  font-size: 22px;
}
footer .footer-container .contacts-container {
  display: grid;
  grid-column: auto;
  grid-template-rows: repeat(2, 25px);
  justify-items: center;
  gap: 5px 0px;
}
footer .footer-container .contacts-container .contact {
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
