* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100vh;
}

.user-profile-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;

    max-width: 1200px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
}

.user-info-card {
    display: grid;
    grid-template-rows: auto 170px auto;
    gap: 2rem;

    padding: 2rem;

    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-info-card h1 {
    color: #0078f0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;
}

.profile-photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #e6f0ff;
    margin: 0 auto;
    border: 3px solid #0078f0;

    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 100px;
    gap: 20px;
    justify-content: space-around;
}
    .bio .email-container {
        grid-column: span 2;
        text-align: center;
        padding: 10px 0;

        font-size: 20px;
    }
    .bio .name-container,
    .bio .secondname-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

        font-size: 20px;
    }
        .bio .name-container input,
        .bio .secondname-container input {
            font-size: 18px;
            padding: 10px;
        }
        .bio .email-container p.email {
            display: flex;
            align-items: center;
            justify-content: center;
        }

.bio .buttons-container {
    grid-area: 3 / 1 / 4 / 3;
    justify-self: center;
}

.bio .buttons-container button {
    min-height: 52px;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background: #0078f0;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.bio .buttons-container button:hover {
    background: #0060c0;
}

.user-favorite-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.open-favorite-cars {
    background-color: #0078f0;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.user-favorite-cars h2 {
    color: #0078f0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.favorite-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 10px;
}
.favorite-cards-container .car-card {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

